<div class="cardBox">
  <div class="card">
    <div>
      <div class="numbers">1,504</div>
      <div class="cardName">Dailly Views</div>
    </div>
    <div class="iconBox">
      <i class="uil uil-eye"></i>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="numbers">80</div>
      <div class="cardName">Sales</div>
    </div>
    <div class="iconBox">
      <i class="uil uil-shopping-cart-alt"></i>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="numbers">284</div>
      <div class="cardName">Comment</div>
    </div>
    <div class="iconBox">
      <i class="uil uil-chat"></i>
    </div>
  </div>
  <div class="card">
    <div>
      <div class="numbers">$7,842</div>
      <div class="cardName">Earning</div>
    </div>
    <div class="iconBox">
      <i class="uil uil-dollar-alt"></i>
    </div>
  </div>
</div>
