/*======================= Project =====================*/
.project {
  text-align: center;
}

.project__bg {
  background-color: var(--first-color-second);
  padding-top: 3rem;
}

.project__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-75);
}

.project__description {
  margin-bottom: var(--mb-1-5);
}

.project__title,
.project__description {
  color: #FFF;
}

.project__img {
  width: 432px;
  justify-self: center;
}

@media screen and (max-width: 350px) {
  .project__img {
    width: 200px;
  }
}

@media screen and (min-width: 568px) {
  .project__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .project {
    text-align: initial;
  }

  .project__bg {
    background: none;
  }

  .project__container {
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 0 0 2.5rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }

  .project__data {
    padding-top: .8rem;
  }
}
