<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Recent Orders</h2>
      <a href="" class="btn">View All</a>
    </div>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Price</td>
          <td>Payment</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Star refrigerator</td>
        <td>$110</td>
        <td>Paid</td>
        <td><span class="status pending">Pending</span></td>
      </tr>
      <tr>
        <td>Wall Fan</td>
        <td>$110</td>
        <td>Paid</td>
        <td><span class="status return">Return</span></td>
      </tr>
      <tr>
        <td>Wall Fan</td>
        <td>$110</td>
        <td>Paid</td>
        <td><span class="status inprogress">In progress</span></td>
      </tr>
      <tr>
        <td>Wall Fan</td>
        <td>$110</td>
        <td>Paid</td>
        <td><span class="status delivered">Delivered</span></td>
      </tr>
      <tr>
        <td>Wall Fan</td>
        <td>$110</td>
        <td>Paid</td>
        <td><span class="status pending">Pending</span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!--New Customers-->
  <div class="recentCustomers">
    <div class="cardHeader">
      <h2>Recent Customers</h2>
    </div>
    <table>
      <tr>
        <td width="60px">
          <div class="imgBox">
            <img src="assets/img/img1.jpg" alt="">
          </div>
        </td>
        <td>
          <h4>David</h4>
          <span>Italy</span>
        </td>
      </tr>
      <tr>
        <td width="60px">
          <div class="imgBox">
            <img src="assets/img/img1.jpg" alt="">
          </div>
        </td>
        <td>
          <h4>Olivia</h4>
          <span>France</span>
        </td>
      </tr>
      <tr>
        <td width="60px">
          <div class="imgBox">
            <img src="assets/img/img2.jpg" alt="">
          </div>
        </td>
        <td>
          <h4>Amit</h4>
          <span>Japan</span>
        </td>
      </tr>
      <tr>
        <td width="60px">
          <div class="imgBox">
            <img src="assets/img/img3.jpg" alt="">
          </div>
        </td>
        <td>
          <h4>Ashraf</h4>
          <span>India</span>
        </td>
      </tr>
      <tr>
        <td width="60px">
          <div class="imgBox">
            <img src="assets/img/img4.jpg" alt="">
          </div>
        </td>
        <td>
          <h4>Diana</h4>
          <span>Malaysia</span>
        </td>
      </tr>
    </table>
  </div>
</div>

