<section class="testimonial section">
  <h2 class="section__title">Testimonial</h2>
  <span class="section__subtitle">My client saying</span>
  <div class="testimonial__container container swiper-container">
    <div class="swiper-wrapper">
      <!--====================== TEDTIMONIAL 1 =======================-->
      <div class="testimonial__content swiper-slide">
        <div class="testimonial__data">
          <div class="testimonial__header">
            <img src="assets/img/testimonial1.jpg" alt="" class="testimonial__img">
            <div>
              <h3 class="testimonial__name">Yousra Boufalgha</h3>
              <span class="testimonial__client">Client</span>
            </div>
          </div>
          <div>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
          </div>
        </div>
        <p class="testimonial__description">Je vous recommande bien la formation présentée via cette page sérieuse ,
          Je suis satisfaite par la formation android qui est présentée par "Monsieur Abdennaji Firas " un formateur
          professionnel et compétent et qui fait un effort colossal pour rendre l'information accessible.
          Merci je vous souhaite une bonne continuation .</p>
      </div>
      <!--====================== TEDTIMONIAL 2 =======================-->
      <div class="testimonial__content swiper-slide">
        <div class="testimonial__data">
          <div class="testimonial__header">
            <img src="assets/img/testimonial2.jpg" alt="" class="testimonial__img">
            <div>
              <h3 class="testimonial__name">Rajesh Gupta
              </h3>
              <span class="testimonial__client">Client</span>
            </div>
          </div>
          <div>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
          </div>
        </div>
        <p class="testimonial__description">Did the initial project setup successfully based on an angular-crud
          project.</p>
      </div>
      <!--====================== TEDTIMONIAL 3 =======================-->
      <div class="testimonial__content swiper-slide">
        <div class="testimonial__data">
          <div class="testimonial__header">
            <img src="assets/img/testimonial2.jpg" alt="" class="testimonial__img">
            <div>
              <h3 class="testimonial__name">Rajesh Gupta
              </h3>
              <span class="testimonial__client">Client</span>
            </div>
          </div>
          <div>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
            <i class="uil uil-star testimonial__icon-star"></i>
          </div>
        </div>
        <p class="testimonial__description">Knowledgeable on ionic and api. Understood and Delivered with ease and less
          interactions.</p>
      </div>
    </div>
<!--    <div class="swiper-pagination swiper-pagination-testimonial"></div>-->
  </div>
</section>
