<div class="container">
  <div class="navigation">
    <ul>
      <li>
        <a href="">
          <span class="icon">
            <img src="../../../assets/img/logo.jpg" alt="">
          </span>
          <span class="title">Prymo Dev</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon">
            <i class="uil uil-home"></i>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon">
            <i class="uil uil-user  "></i>
          </span>
          <span class="title">Customers</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon">
            <i class="uil uil-chat"></i>
          </span>
          <span class="title">Messages</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon">
            <i class="uil uil-info"></i>
          </span>
          <span class="title">Help</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon">
            <i class="uil uil-setting"></i>
          </span>
          <span class="title">Settings</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon">
            <i class="uil uil-key-skeleton"></i>
          </span>
          <span class="title">Password</span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="icon">
            <i class="uil uil-signout"></i>
          </span>
          <span class="title">Sign out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
