<footer class="footer">
  <div class="footer__bg">
    <div class="footer__container container grid">
      <div>
        <h1 class="footer__title">Prymo Dev</h1>
        <span class="footer__subtitle">Frontent developer</span>
      </div>
      <ul class="footer__links">
        <li>
          <a href="#services" class="footer__link">Services</a>
        </li>
        <li>
          <a href="#portfolio" class="footer__link">Portfolio</a>
        </li>
        <li>
          <a href="#contact" class="footer__link">Contact Me</a>
        </li>

      </ul>
      <div class="footer__socials">
        <a href="https://www.linkedin.com/in/abdennajifiras/" target="_blank" class="footer__social">
          <i class="uil uil-linkedin"></i>
        </a>
        <a href="https://www.behance.net/prymoinfobc25" target="_blank" class="footer__social">
          <i class="uil uil-behance"> </i>
        </a>
        <a href="https://github.com/firasprymo" target="_blank" class="footer__social">
          <i class="uil uil-github"></i>
        </a>

      </div>
    </div>
    <p class="footer__copy">{{currentDate | date:'yyyy'}} &#169; Prymo Dev. All right reserved
    </p>
  </div>
</footer>
