<section class="skills section" id="skills">
  <h2 class="section__title">Skills</h2>
  <span class="section__subtitle">My technical level</span>
  <div class="skills__container container grid">
    <div>
      <!--==================== Skills 1 ========================-->
      <div class="skills__content skills__open">
        <div class="skills__header">
          <i class="uil uil-brackets-curly skills_icon"></i>
          <div>
            <div class="skills__titles">FrontEnd developer</div>
            <span class="skills__subtitle">More than 4 years</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">HTMl</h3>
              <span class="skills__number">90%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__html"></span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">CSS</h3>
              <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__css"></span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">JS</h3>
              <span class="skills__number">50%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__js"></span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">ANGULAR</h3>
              <span class="skills__number">85%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__angular"></span>
            </div>
          </div>

        </div>
      </div>
      <!--==================== Skills 2 ========================-->
      <div class="skills__content skills__close">
        <div class="skills__header">
          <i class="uil uil-server-network skills_icon"></i>
          <div>
            <div class="skills__titles">Backend developer</div>
            <span class="skills__subtitle">More than 3 years</span>
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
        <div class="skills__list grid">
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">JAVA</h3>
              <span class="skills__number">60%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__java"></span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">NODE JS</h3>
              <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__nodejs"></span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__titles">
              <h3 class="skills__name">PHP</h3>
              <span class="skills__number">80%</span>
            </div>
            <div class="skills__bar">
              <span class="skills__percentage skills__php"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--==================== Skills 3 ========================-->

    <div class="skills__content skills__close">
      <div class="skills__header">
        <i class="uil uil-swatchbook skills_icon"></i>
        <div>
          <div class="skills__titles">Designer</div>
          <span class="skills__subtitle">More than 3 years</span>
        </div>
        <i class="uil uil-angle-down skills__arrow"></i>
      </div>
      <div class="skills__list grid">
        <div class="skills__data">
          <div class="skills__titles">
            <h3 class="skills__name">Photoshop</h3>
            <span class="skills__number">60%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percentage skills__photoshop"></span>
          </div>
        </div>
        <div class="skills__data">
          <div class="skills__titles">
            <h3 class="skills__name">Illustrateur</h3>
            <span class="skills__number">80%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percentage skills__illustrateur"></span>
          </div>
        </div>
        <div class="skills__data">
          <div class="skills__titles">
            <h3 class="skills__name">Figma</h3>
            <span class="skills__number">80%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percentage skills__figma"></span>
          </div>
        </div>
        <div class="skills__data">
          <div class="skills__titles">
            <h3 class="skills__name">Adobe XD</h3>
            <span class="skills__number">70%</span>
          </div>
          <div class="skills__bar">
            <span class="skills__percentage skills__xd"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
