<app-header></app-header>
<main class="main">
  <!--*=============================== Intro ========================*-->
  <app-intro></app-intro>
  <!--*=============================== ABOUT ========================*-->
  <app-about id="about"></app-about>
  <!--============================SKILLS==========================-->
  <app-skills id="skills"></app-skills>
  <!--========================================= QUALIFICATION ====================================-->
  <app-qualifications></app-qualifications>
  <!--========================================= SERVICES ====================================-->
  <app-services id="services"></app-services>
  <!--========================================= PORTFOLIO ====================================-->
  <app-portfolio id="portfolio"></app-portfolio>
  <!--========================================= PROJEECT IN MIND ====================================-->
  <app-project-in-mind></app-project-in-mind>
  <!--========================================= TESTIMONIAL ====================================-->
  <app-testimonial></app-testimonial>
  <!--========================================= CONTACT ME ====================================-->
  <app-contact-me id="contact"></app-contact-me>
</main>
<!--========================================= FOOTER ====================================-->
<app-footer></app-footer>
<a (click)="scrollUp()" class="scrollup" id="scroll-up">
  <i class="uil uil-arrow-up scrollup__icon"></i>
</a>
